<div class="wrapper">
    <!--<app-side></app-side>-->
    <div id="content">
        <app-nav></app-nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>LISTA DE SERVICIOS A PRESTAR</h4>
                        </div>
                        <div class="card-body" *ngIf="size == 0">
                            <div class="alert alert-primary" role="alert">
                                No tiene servicios para prestar.
                            </div>
                        </div>
                        <div class="card-body" *ngIf="size > 0">
                            <div class="row">
                                <div class="col-sm-3" style="
                                border-style: none solid none none;
                                border-width: 1px;
                            ">
                                    <h5>Filtrar por:</h5>
                                    <mat-label>Estado: </mat-label>
                                    <mat-form-field>
                                        <mat-select (selectionChange)="filtroCiudad(c.value)" #c>
                                            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.value">
                                                {{ciudad.texto}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-4 separador-card"
                                            *ngFor="let item of lista | filtro:textoBuscar : columna | paginate:page_size:page_number">
                                            <mat-card class="example-card">
                                                <div class="{{item.estado}}">
                                                    <mat-card-header>
                                                        <div mat-card-avatar class="example-header-image">
                                                        </div>
                                                    </mat-card-header>
                                                </div>
                                                <!--<img mat-card-image src="{{SRC}}{{proveedor.imagen}}" width="50px" height="150px">-->
                                                <mat-card-content>
                                                    <div
                                                        *ngIf="item.calificacion != null && item.estado == 'Finalizado'">
                                                        <i *ngFor="let n of estrellas(item.calificacion)"
                                                            class="fa fa-star" style="color: orange;"></i>
                                                    </div>
                                                    <div
                                                        *ngIf="item.estado == 'Enviado' || item.estado == 'Rechazado' || item.estado == 'Aprobado' || item.calificacion == null">
                                                        <i class="fa fa-star" style="color: gray;"></i>
                                                        <i class="fa fa-star" style="color: gray;"></i>
                                                        <i class="fa fa-star" style="color: gray;"></i>
                                                        <i class="fa fa-star" style="color: gray;"></i>
                                                        <i class="fa fa-star" style="color: gray;"></i>
                                                    </div>
                                                    <p>{{item.nombre}}</p>
                                                    <p>{{item.estado}}</p>
                                                    <p>{{item.fecha}}</p>
                                                    <p>{{item.referencia}}</p>
                                                </mat-card-content>
                                                <mat-card-actions>
                                                    <button type="button" class="btn btn-secondary btn-lg btn-block"
                                                        (click)="openModal(mapa,item.id,name)" *ngIf="'mapa' as name">
                                                        <mat-icon title="Ver Mapa">location_on</mat-icon>Ver Ubicación
                                                    </button>
                                                    <button type="button" class="btn btn-info btn-lg btn-block"
                                                        (click)="openModal(detalles,item.id,'detalles')">Ver
                                                        Detalles</button>
                                                    <button type="button" class="btn btn-primary btn-lg btn-block"
                                                        *ngIf="item.estado != 'Finalizado' && item.estado != 'Rechazado'"
                                                        (click)="openModal(estado,item.id,estadi,item.estado)">Cambiar
                                                        estado</button>
                                                </mat-card-actions>
                                            </mat-card>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <mat-paginator [length]="lista.length" [pageSize]="page_size"
                                        (page)="pageEvent($event)">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Modal Calificación-->
<ng-template #estado>
    <div class="modal-header">
        <h5 class="modal-title">Cambiar estado del servicio</h5>
    </div>
    <form [formGroup]="estadoForm" (ngSubmit)="cambiar()">
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Estado: </label>
                        <select class="form-control" formControlName="estado" #estado (change)="show(estado.value)">
                            <option *ngFor="let item of estados" value="{{item.id}}">{{item.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12" *ngIf="showcomentario">
                    <div class="form-group">
                        <label>Comentario: </label>
                        <textarea class="form-control" formControlName="comentario">
                            </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="modalRef.hide()">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</ng-template>
<ng-template #mapa>
    <div class="modal-header">
        <h5 class="modal-title">Detalle de dirección</h5>
    </div>
    <form>
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <agm-map [latitude]="lat" [longitude]="lon" [zoom]="15">
                        <agm-marker [latitude]="lat" [longitude]="lon"></agm-marker>
                    </agm-map>
                </div>
                <div class="col-12">
                    <br>
                    <p><strong>Referencia: </strong>{{referencia}}</p>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Cerrar</button>
    </div>
</ng-template>
<ng-template #detalles>
    <div class="modal-header">
        <h5 class="modal-title">Detalles del servicio</h5>
    </div>
    <form>
        <div class="modal-body">
            <div class="row">
                <div class="col-4 col-avatar">
                    <img src="{{SRC}}{{objDetalles.imagen}}" alt="Avatar" class="avatar"
                        *ngIf="objDetalles.imagen !== 'S/N'">
                        <img src="{{SRC}}/default.png" alt="Avatar" class="avatar" *ngIf="objDetalles.imagen == 'S/N'">
                </div>
                <div class="col-sm-8">
                    <p><strong>Cliente: </strong>{{objDetalles.nombre}}</p>
                    <p><strong>Teléfono: </strong>{{objDetalles.convencional}}</p>
                    <p><strong>Celular: </strong>{{objDetalles.celular}}</p>
                    <p><strong>Fecha: </strong>{{objDetalles.telefono}}</p>
                    <p><strong>Hora: </strong>{{objDetalles.hora}}</p>
                    <p><strong>Descripción: </strong>{{objDetalles.descripcion}}</p>
                    <p><strong>Comentario: </strong>{{objDetalles.comentarios}}</p>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Cerrar</button>
    </div>
</ng-template>